body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f6f6f6;
    color: #333;
}

h1, h2 {
    text-align: center;
}

section {
    padding: 30px;
}


header {
    background: #006644;
    color: white;
    padding: 50px 20px;
}

.header {
    text-align: center;
    background-color: #3cb45c;
    color: white;
    padding: 20px;
}

.portrait {
    width: 220px;
    margin-bottom: 10px;
    border: 8px solid #006644;
    padding:4px;
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 20px;
    background: #006644;
    padding: 15px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.navbar a:hover {
    text-decoration: underline;
}

.video-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.video-card {
    width: 300px;
    background: white;
    padding: 15px;
    border-radius: 8px;
}

.video-card video {
    width: 100%;
    border-radius: 8px;
}

.project-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.project-card {
    width: 280px;
    background: white;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
}

.project-card img {
    width: 100%;
    border-radius: 8px;
}

.project-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 18px;
    background: #006644;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
}

.project-btn:hover {
    background: #3cb45c;
}

.documents-flex {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.doc-btn {
    padding: 12px 25px;
    background: #006644;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.3s;
}

.doc-btn:hover {
    background: #3cb45c;
}

.gallery-flex {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.gallery-flex img {
    width: 260px;
    border-radius: 10px;
}


footer {
    text-align: center;
    padding: 20px;
    background: #006644;
    color: white;
}


@media (max-width: 700px) {
    .project-container,
    .gallery-flex,
    .documents-flex {
        flex-direction: column;
        align-items: center;
    }

    .navbar {
        flex-direction: column;
        gap: 10px;
    }
}
